<%= bootstrap_form_for(@user, url: user_index_path) do |f| %>
  <%= f.control_group :login do %>
  	<%= f.text_field :login %>
  <% end -%>
  
  <%= f.control_group :first_name do %>
  	<%= f.text_field :first_name %>
  <% end -%>
  
  <%= f.control_group :last_name do %>
  	<%= f.text_field :last_name %>
  <% end -%>
  
  <%= f.control_group :email do %>
  	<%= f.email_field :email %>
  <% end -%>
  
  <%= f.control_group :password, label: "Neues Passwort" do %>
    <%= f.password_field :password %>
  <% end -%>

  <%= f.control_group :password_confirmation, label: "Passwortbestätigung" do %>
    <%= f.password_field :password_confirmation %>
  <% end -%>
  
  <%= f.control_group "user[group_ids][]", label: "Gruppenzugehörigkeit" do %>
  	<% Group.all.each do |group| -%>
      <%= label_tag "user[group_ids][]", group.name, class: 'checkbox inline'%>
  	  <%= check_box_tag "user[group_ids][]", group.id, @user.groups.include?(group) %>
  	<% end -%>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "Nutzer anlegen" %>
  </div>
<% end %>

