<%= title "Nutzer"%>
<table class="table">
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.name%></td>
    <td><%= show_button user %></td>
    <td><%= edit_button edit_user_path(user) %></td>
    <td><%= delete_button user %></td>
  </tr>
<% end %>
</table>

<br />

<%= create_link new_user_path, User %>
