<%= bootstrap_form_for(@hardware_part) do |f| %>
  <div class="field">
    <%= f.label :inventory_number %><br />
    <%= f.text_field :inventory_number %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br />
    <%= f.date_select :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :warranty_end %><br />
    <%= f.date_select :warranty_end %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.select :place_id, Place.all.collect { |p| [p.name, p.id] } %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.select :owner_id, Owner.all.collect { |o| [o.name, o.id] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.select :state_id, State.all.collect { |s| [s.name.humanize, s.id] } %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_id %><br />
    <%= f.select :manufacturer_id, Manufacturer.all.collect { |m| [m.name, m.id] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.select :parent_id, HardwarePart.all.collect { |h| [h.name, h.id] }, { :include_blank => true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= delete_button @hardware_part %>
    <%= cancel_button @hardware_part, hardware_parts_path %>
  </div>
<% end %>
