<h1>Hardwareübersicht</h1>

<table class="table">
  <tr>
    <th>Inventarnummer</th>
    <th>Name</th>
    <th>Kaufdatum</th>
    <th>Garantieende</th>
    <th>Ort</th>
    <th>Besitzer</th>
    <th>Hersteller</th>
    <th>Übergeordnete Komponente</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hardware_parts.each do |hardware| %>
  <tr>
    <td><%= hardware.inventory_number %></td>
    <td><%= hardware.name %></td>
    <td><%= hardware.pruchase_date %></td>
    <td><%= hardware.warranty_end %></td>
    <td><%= hardware.place.name %></td>
    <td><%= hardware.owner.name %></td>
    <td><%= hardware.manufacturer.name %></td>
    <td><%= hardware.parent.name if hardware.parent %></td>
    <td><%= hardware.state.name.humanize %></td>
    <td><%= link_to 'Show', hardware %></td>
    <td><%= link_to 'Edit', edit_hardware_part_path(hardware) %></td>
    <td><%= link_to 'Destroy', hardware, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= create_link new_hardware_part_path, HardwarePart %>
