<p id="notice"><%= notice %></p>

<p>
  <b>Inventory number:</b>
  <%= @hardware_part.inventory_number %>
</p>

<p>
  <b>Name:</b>
  <%= @hardware_part.name %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @hardware_part.purchase_date %>
</p>

<p>
  <b>Warranty end:</b>
  <%= @hardware_part.warranty_end %>
</p>

<p>
  <b>Place:</b>
  <%= @hardware_part.place.name if @hardware_part.place%>
</p>

<p>
  <b>Owner:</b>
  <%= @hardware_part.owner.name if @hardware_part.owner %>
</p>

<p>
  <b>State:</b>
  <%= @hardware_part.state.name.humanize %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @hardware_part.manufacturer.name if @hardware_part.manufacturer %>
</p>

<p>
  <b>Übergeordnete Komponente:</b>
  <%= link_to @hardware_part.parent.name, hardware_part_path(@hardware_part.parent) if @hardware_part.parent %>
</p>


<%= link_to 'Edit', edit_hardware_part_path(@hardware_part) %> |
<%= link_to 'Back', hardware_parts_path %>
