<%= title "Übersicht Standort"%>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td>
      <%= show_button place %>
      <%= edit_button edit_place_path(place) %>
      <%= delete_button place %>
    </td>
  </tr>
<% end %>
</table>

<br />


<%= create_link new_place_path, Place %>
